.btn{
    color: white;
}

.btn:hover{
    background-color: white;
}
body{
    background-color: bisque;
}
.card-body{
    text-align: justify;
}
.error-input {
    border: 1px solid red;
}

.city {
    text-align: center;  
}

.forecast {
    text-align: center;
}